# Virtual Environment
venv/

# Writing/Comments
notes.txt

# Credentials
credentials.json
client_secret.json
google_sa.json

# Tools
.claude/

# Data
*.csv
*.parquet
*.xml
*.geojson
*.gpkg
*.cpg
*.dbf
*.prj
*.shp
*.shx